/*--- Theme Variables ---*/

:root {
  --background-color: #192231;
  --header-color: #192231;
  --header-font-color: #aaa;
  --footer-color: #192231;
  --footer-font-color: #aaa;
  --panel-color: #192231;
  --border-color: #494e6b;
  --main-font-color: #aaa;
  --sidebar-color: #494e6b;
  --sidebar-font-color: #aaa;
  --button-color: #caebf2;

  --heading-font: 'Electrolize', sans-serif;
  --main-font: 'Lato', sans-serif;
}

/*--- Clearfix Hack ---*/

.clearfix:after {
   content: " "; /* Older browsers do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*--- Box-Sizing Hack ---*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*--- Whole Page, Mobile First ---*/

html {
  width: 100vw;
  height: 100vh;
}

body {
  min-width: 20rem; /*equates to 320px with default font of 16px*/
  max-width: 85rem; /* equates to 1360px with default font of 16px */
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  background-color: var(--background-color);
  min-height: 100%;
  font-size: 1em; /* my fonts will scale as a multiplier of the user's browser default */
  line-height: 1.5;
  font-family: var(--main-font);
  display: grid;  /*for layout using grid*/
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas:
    "header    header"
    "question  question"
    "answer    answer"
    "timer     score"
    "footer    footer";
}

/*--- Header and Nav ---*/

header {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: 0;
  padding: 0.75rem 1.5rem;
  grid-area: header;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  color: var(--header-font-color);
}

header h2 {
  float: left;
  margin: 0 auto 0 0;
  font-family: var(--heading-font);
}

nav {
  padding: 0 0.5rem;
}

nav ul {
  padding: 0.5rem 0 0 0;
  margin: 0;
  font-size: 0.875em;
}

nav li {
  display: inline-block;
  padding: 0 1rem;
}

nav li + li {
  border-left: 1px solid var(--header-font-color);
}

input {
  width: 100%;
}

/*--- Links ---*/

a, a:visited  {
  text-decoration: none;
  color: inherit;
}

a:focus, a:hover {
  text-decoration: none;
  text-shadow: none;
  color: var(--button-color);
}

a:active {
  text-decoration: none;
  text-shadow: none;
  color: inherit;
}

/*--- Questions/Messages ---*/

.questionDiv {
  min-width: 8rem;
  grid-area: question;
  background: var(--panel-color);
  color: var(--main-font-color);
  position: relative;
}

.questionDiv h3 {
  font-family: var(--heading-font);
}

.questionDiv a, img {
  display: block;
  width: 100%;
}

.questionContent {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

/*--- Answers ---*/

.answerDiv {
  min-width: 12rem;
  padding: 0 1.5rem;
  grid-area: answer;
  background: var(--sidebar-color);
  color: var(--sidebar-font-color);
}

.answerDiv h4 {
  font-family: var(--heading-font);
}

#answer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
}

#answer li {
  display: inline-block;
  min-width: 15rem;
  flex: 1;
  padding: 0.5rem;
}

#answer li button {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--button-color);
}

#play {
  width: 100%;
  padding: 0.5rem;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  background-color: var(--button-color);
  font-family: var(--heading-font);
}

/*--- Timer and Score ---*/

.timerDiv, .scoreDiv {
  min-width: 8rem;
  align-self: start;
  background: var(--panel-color);
  color: var(--main-font-color);
  padding: 0 1.5rem;
  font-size: 1.15rem;
  text-align: center;
}

.timerDiv {
  grid-area: timer;
}

.scoreDiv {
  grid-area: score;
}

/*--- Footer ---*/

footer {
  position: relative;
  color: var(--footer-font-color);
  background-color: var(--footer-color);
  grid-area: footer;
  border-top: 1px solid var(--border-color);
  font-size: 0.75rem;
  text-align: center;
  align-content: center;
  line-height: 2.5rem;
  bottom: 0;
}

/*--- Media Queries ---*/

@media (min-width: 37.5rem) {
  .container {
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header    header      header"
      "question  question    answer"
      "score     timer       answer"
      "footer    footer      footer";
  }

  #answer li {
  display: inline-block;
  min-width: 100%;
  padding: 0.5rem 0;
  }

  #question, #answer {
    font-size: 1.15rem;
  }
}

@media (min-width: 56.25rem) {
  .container {
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto 2fr 1fr;
    grid-template-areas:
      "header    header      header"
      "score     question    answer"
      "timer     question    answer"
      "footer    footer      footer";
  }

  #question, #answer {
    font-size: 1.25rem;
  }

  .timerDiv, .scoreDiv {
    text-align: left;
  }
}
